.contact{
    display: flex;
    padding: 0 30px;
    height: 80vh;
    background-image: url('../assets/test.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    .container{
        flex: 6;
        text-align: left;
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;
        gap: 30px;
        color: white;
        height: 80vh;
        h1{
            color: white;
            font-size: 60px;
        }
        p{
            color: white;
        }
        .icon{
            display: flex;
            gap: 10px;
            
            .holder{
                background: rgb(42, 42, 68);
                width: 60px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 20px;
                border-radius: 12px;
                img{
                    width: 28px;
                    height: 28px;
                }
            }
        }
    }
}