
.homepage{
    position: relative;
    height: 90vh;
    display: flex;
    flex-direction: column;
    background-image: url(../assets/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-filter: blur(8px);
    filter: blur(2px);
    justify-content: center;
    align-items: center;
    padding: 0 20px;

    h1{
        font-size: 65px;
        max-width: 800px;
        margin-bottom: 15px;
    }
    p{
        font-size: 24px;
        line-height: 1.3;
        margin-bottom: 20px;
    }
    button{
        max-width: 20%;
        border: 1px solid blue;

        &:focus{
            outline: none;
            border: none;
        }
    }
}
.hero{
    position: absolute;
    // top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;

    h1{
        font-size: 65px;
        max-width: 800px;
        margin-bottom: 15px;
    }
    p{
        font-size: 24px;
        line-height: 1.3;
        margin-bottom: 20px;
    }
    button{
        max-width: 20%;
        background: rgb(40, 66, 114);
        border: 1px solid rgb(40, 66, 114);
        color: white;
        

        &:hover{
            color: rgb(40, 66, 114);
            background: white;
            border: 1px solid rgb(40, 66, 114);
        }
    }
}
.services{
    padding: 0 30px;
    margin-top: 96px;
    h2{
        font-size: 48px;
        margin-bottom: 20px;
    }
    span{
        font-size: 24px;
        line-height: 1.4;
    }
    .whole{
        display: flex;

      .card{
        img{
            max-width: 100%;
            border-radius: 10px;
        }
        h5{
            margin-top: 10px;
            font-size: 24px;
            margin-bottom: 20px;
        }
        p{
            font-size: 16px;
            font-weight: 200;
            line-height: 1.5;
        }
       
      }
      
    }
    button{
        max-width: 20%;
        background: rgb(40, 66, 114);
        border: 1px solid rgb(40, 66, 114);
        color: white;
        

        &:hover{
            color: rgb(40, 66, 114);
            background: white;
            border: 1px solid rgb(40, 66, 114);
        }
    }
}
.choose{
    padding: 0 30px;
    margin-top: 96px;
    h2{
        font-size: 48px;
        margin-bottom: 20px;
    }
    .whole{
        display: flex;
        gap: 20px;
        margin-top: 60px;

        hr{
            border: none;
            border-bottom: 4px solid rgba(183, 189, 190, 0.575);
            border-radius: 20px;
            width: 30%;
            margin-bottom: 5px;
        }

        .card{
            height: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgba(209, 213, 214, 0.427);
            h5{
                font-size: 24px;
                margin-bottom: 10px;
            }
        }
    }
}
.about{
    padding: 0 20px;
    margin-top: 96px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    .right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        text-align: left;
        padding: 20px;
        h2{
            font-size: 58px;
            max-width: 300px;
            line-height: 1.3;
        }
        span{
            text-decoration: underline;
            
        }
    }
}
.testimony{
    padding: 0 20px;
    margin-top: 96px;
    h2{
        font-size: 58px;
        margin-bottom: 20px;
        line-height: 1.4;
    }
    .whole{
        display: flex;
        gap: 30px;

        .card{
            p{
                line-height: 1.7;
            }
            .hold{
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                img{
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
        }
    }
}
.want{
    display: flex;
    padding: 0 30px;
    margin-top: 96px;
    gap: 30px;
    text-align: left;
    h2{
        font-size: 58px;
        max-width: 300px;
        line-height: 1.3;
        margin-bottom: 20px;
    }
    .left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
    button{
        max-width: 20%;
        background: rgb(40, 66, 114);
        border: 1px solid rgb(40, 66, 114);
        color: white;
        

        &:hover{
            color: rgb(40, 66, 114);
            background: white;
            border: 1px solid rgb(40, 66, 114);
        }
    }
    .right{
        img{
            max-width: 100%;
            height: 600px;
            object-fit: cover;
        }
    }
}
.home-holder{
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}
.hero-holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media(max-width: '1000px'){
    .homepage{
        height: 50vh;
    }

}
@media(max-width: '900px'){
    .hero{
        h1{
            font-size: 48px;
        }
        button{
            max-width: 60%;
        }
    }
    .services{
        .whole{
            flex-wrap: wrap;
        }
        button{
            max-width: 60%;
        }
    }
    .choose{
        h2{
            line-height: 1.2;
        }
        .whole{
            flex-direction: column;
        }
    }
    .about, .want{
        flex-direction: column;
        .left{
            img{
                max-width: 100%;
            }
            button{
                max-width: 60%;
            }
        }
        .right{
            h2{
                font-size: 40px;
                text-align: center;
                max-width: 100%;
            }
            img{
                max-width: 100%;
            }

        }
    }
}
@media(max-width: '500px'){
    .hero{
        p{
            display: none;
        }
    }
}
@media(max-width: '768px'){
    .testimony{
        .whole{
            flex-direction: column;
        }
    }
}
@media(min-width: '900px'){
    .about{
        .left{
            img{
                max-width: 100%;
            }
        }
    }
    .about, .want{
        .right{
            img{
                max-width: 100%;
            }

        }
    }
}