.service{
    margin-top: 20px;
    padding: 0 30px;
   
    h2{
        font-size: 60px;
        line-height: 1.2;
        margin-bottom: 25px;
    }
    .digital{
        margin-top: 96px;
        text-align: left;
    }
    section{
        margin-top: 96px;
        display: flex;
        

        hr{
            margin: 15px 0;
        }
    }
}