.story{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 30px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;

    .Sections{
        display: flex;
        gap: 50px;
        margin-bottom: 96px;

        .left{
            flex: 4;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .right{
            flex: 4;
            display: flex;
            text-align: left;
            flex-direction: column;
            gap: 30px;

            h1{
                font-size: 58px;
            }
        }
    }

    .section{
        display: flex;
        gap: 40px;

        .left{
            flex: 5;
            display: flex;
            flex-direction: column;
            text-align: left;
            justify-content: center;
            align-items: center;
            gap: 30px;

            img{
                width: 500px;
                height: 300px;
                border-radius: 200px;
                object-fit: cover;
                max-width: 100%;
            }
        }
        .right{
            display: flex;
            gap: 20px;

            .first{
                display: flex;
                flex-direction: column;
                gap: 40px;

                img{
                    max-width: 100%;
                    width: 300px;
                    height: 300px;
                    object-fit: cover;
                    border-radius: 15px;
                }
            }
            .second{
                img{
                    max-width: 100%;
                    width: 300px;
                    height: 100%;
                    border-radius: 15px;
                    // height: 300px;
                    object-fit: cover;
                }
            }
        }
    }
    .last{
        // background-image: url("../assets/island.jpg");
        max-width: 50%;
        background-size: cover;
        background-position: center;
        height: 40vh;

        
        h2{
            font-size: 48px;
            line-height: 1.3;
        }
        p{
            line-height: 1.5;
        }
        button{
            margin-top: 20px;
            max-width: 20%;
            background: rgb(40, 66, 114);
            border: 1px solid rgb(40, 66, 114);
            color: white;
            
    
            &:hover{
                color: rgb(40, 66, 114);
                background: white;
                border: 1px solid rgb(40, 66, 114);
            }
        }
    }
}
@media(max-width: '900px'){
    .story{
        .Sections, .section{
            flex-direction: column ;
        }
    }
    .last{
        h2{
            font-size: 40px;
        }
    }
}
@media(max-width: '500px'){
    .story{
        .section{
            .right{
                flex-direction: column ;
            }
        }
    }
}